body {
  background: ghostwhite;
}

.flex-horizontal-center {
  display: flex;
  align-items: center;
}

.top-modal-margin {
  margin-top: 70px;
}

#maxList {
  a {
    color: inherit;
  }

  a:hover {
    text-decoration: none;
  }

  .maxNumber {
    font-size: 1.1em;
  }

  .maxRow:hover {
    background: #fafafa;
  }
}

#header {
  .header-avatar {
    height: 40px;
  }

  .navbar-brand {
    padding-top: 15px;
  }
}

#login-screen {
  .logged-card {
    max-width: 400px;
  }

  .img-rounded {
    margin-bottom: 15px;
  }
}

#percentil-list {
  .Card {
    display: inline-block;
    margin-bottom: .2em;
    padding: .6em;

    &.primary {
      color: white;
      font-weight: bold;
    }
  }
}

#detail-container {
  .max-title {
    font-size: 1.7em;
    font-style: italic;
  }
}

#add-form {
  .max-input {
    padding-left: 43px;
  }
}
